.home-app__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
    max-width: 1250px;

    .content-box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & p {
            color: #fff;
            font-weight: 500;
            font-size: 16px;
        }
    }

    .home-app__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        max-width: 1250px;
        width: 100%;
        margin-top: 20px;

        .home-app__welcome {
            display: flex;
            flex-direction: column;

            &--name {
                font-size: 16px;
                color: #fff;
            }

            &--text {
                color: #cecece;
                font-size: 14px;
            }
        }


        .home-app__search {
            display: flex;

            &--input {
                border: none;
                padding: 7px;
                width: 225px;
                border-radius: 10px 0px 0px 10px;
            }


            &--button {
                display: flex;
                background-color: #fff;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                padding: 7px;
                border-radius: 0 10px 10px 0;
                border: none;

                & svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .home-app__contents {
        display: flex;
        gap: 20px;
        max-width: 1250px;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .content__card {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-shrink: 0;
            width: 250px;
            cursor: pointer;
        }

        .sound__card {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-shrink: 0;
            width: 200px;
            cursor: pointer;
        }

        .content__thumbnail {
            width: 100%;
            height: 140px;
            object-fit: cover;
            border-radius: 10px;
        }

        .sound__thumbnail {
            width: 200px; // ou 100%, se quiser preencher o card
            height: 200px; // torna o thumbnail quadrado
            object-fit: cover; // recorta e mantém proporção
            border-radius: 12px; // cantos arredondados
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // sombra leve
        }


        .content__info {
            & p {
                color: #fff;
                font-weight: 400;
                font-size: 13px;
            }
        }
    }

    .home-app__details {
        display: flex;
        gap: 20px;
        justify-content: space-between;

        &-box {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &:first-child {
                width: 75%;

                & img {
                    border-radius: 20px;
                }
            }

            &:last-child {
                width: 25%;

                .home-app__details-box--text {
                    color: #fff;
                    font-size: 16px;
                }

                & div {
                    display: flex;
                    gap: 20px;
                    width: 100%;

                    & img {
                        border-radius: 0px;
                        width: calc(50% - 10px);
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .home-app__container {
        .home-app__content {

            .home-app__search {
                display: none;
            }
        }

        .home-app__details {
            flex-direction: column-reverse;
            align-items: baseline;
            gap: 30px;
        }
    }
}

@media (max-width: 480px) {
    .home-app__container {}
}