.userlayout__container {
    background: #292827;
    background: linear-gradient(0deg, rgba(41, 40, 39, 1) 0%, rgba(33, 43, 79, 1) 100%);
    min-height: 100vh;
    overflow-x: hidden;
}

.userlayout__content {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}