.profile-app__container {

    .profile-app__page {
        color: #fff;
        font-size: 16px;
    }

    .profile-app__content {
        margin-top: 15px;
        & p {
            color: #cecece;
            font-size: 16px;
        }
    }
}