.aside__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    position: fixed;
}

.aside__toggle {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 30px;
}

.aside__container.closed {

    .aside__navbar {
        gap: 15px;

        &-content {
            &-ul {
                width: 50px;

                &-li {
                    width: 50px;
                }
            }

        }
    }

    .aside__profile {
        display: none;
    }
}



.aside__navbar {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-logo {
        width: 200px;


        &>img {
            width: 100%;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;

        &-ul {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &-li {
                display: flex;
                gap: 15px;
                align-items: center;
                padding: 18.5px;
                border-radius: 25px;
                list-style: none;
                text-decoration: none;
                color: #414141;
                height: 50px;

                &:hover {
                    background-color: #6671A2;
                    transition: .2s;
                    color: #fff !important;

                    &>a,
                    &>i {
                        transition: color .2s;
                        color: #fff !important;
                    }
                }
            }
        }

    }
}



.aside__navbar-content-ul-li.active {
    background-color: #6d73962d;
    -webkit-box-shadow: -2px 6px 19px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 19px -7px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 19px -7px rgba(0, 0, 0, 0.75);

    &:hover {
        color: #414141 !important;

        &>i {
            transition: color .2s;
            color: #414141 !important;
        }
    }
}

.aside__profile {
    .aside__profile-toggle {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .aside__profile-name {
            font-weight: 600;
        }

        .aside__profile-email {
            font-size: 0.85rem;
            color: #888;
        }

    }
}

.aside__container {
    width: 225px;
    transition: width 0.3s ease;
}

.aside__container.closed {
    width: 80px;
}

.aside__navbar-content-ul-li p {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.aside__container.closed .aside__navbar-content-ul-li p {
    opacity: 0;
    visibility: hidden;
}