.adminlayout__container {
    display: flex;
    gap: 25px;
    background-color: #c1c1c17c;
    min-height: 100vh;


    .adminlayout__content {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        gap: 20px;
        width: 100vw;
        margin-left: 300px;
    }
}
