.adminlayout__container {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ffffff, #DAE2FF, #c8c7ff, #A8B7D0);



    .adminlayout__content {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        gap: 20px;
        flex-grow: 1;
    }
}