@use 'sass:color';

.sign__form-button-submit {
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #9e9e9e;
    color: #fff;
    transition: background-color 0.2s, opacity 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #161D34;
    }

    &.active {
        background-color: #161D34;

        &:hover {
            // background-color: color.scale(#161D34, $lightness: -10%);
        }
    }

    &.loading {
        padding: 2px; 
        svg,
        canvas {
            margin: auto;
        }
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #9e9e9e;
    }
}