.actionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editButton,
.deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 35px;
    height: 25px;
    cursor: pointer;
}

.editButton {
    border-radius: 20px 0px 0px 20px;
    background-color: #8cc0eeda;
    color: #002466;
    opacity: 0.8;
}

.deleteButton {
    border-radius: 0px 20px 20px 0px;
    background-color: #ff9d9d;
    color: #dc1414;
    opacity: 0.8;
}


.editButton:hover,
.deleteButton:hover {
    opacity: 1;
}