
.formato-audio {
    background-color: #8d81ce;
    color: #ffffff;
    border: 1px solid rgb(184, 121, 252);
}


.formato-video {
    background-color: #a878aa;
    color: #ffffff;
    border: 1px solid rgb(185, 19, 163);
}

.formato-texto {
    background-color: #e0f2fe;
    color: #0369a1;
    border: 1px solid #bae6fd;
}

.badge-categoria {
    background-color: #ddc1fc;
    color: #6b21a8;
    border: 1px solid #e9d5ff;
}

.badge-tag {
    background-color: #d1fae5;
    color: #065f46;
    border: 1px solid #a7f3d0;
}