.header-app__container {
    display: flex;
    justify-content: center;
    padding: 20px 35px;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 2;

    .header-app__content {
        width: 1250px;

        .header-app__web {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-logo {
                width: 40px;

                & img {
                    width: 100%;
                }
            }

            &-navbar {

                &-ul {
                    display: flex;
                    gap: 50px;

                    &-link {
                        display: flex;
                        flex-direction: column;
                        text-decoration: none;
                        color: #fff;

                        .link__box {
                            display: flex;
                            gap: 10px;

                            & img {
                                width: 12px;
                            }

                            & li {
                                list-style-type: none;
                            }
                        }

                        &-line {
                            display: block;
                            background-color: #fff;
                            height: 2px;
                            transform: scaleX(0);
                            transform-origin: left;
                            transition: transform .3s ease;
                        }
                    }

                    &-link:hover .header-app__web-navbar-ul-link-line {
                        transform: scaleX(1);
                    }
                }
            }

            &-profile {
                width: 35px;

                & img {
                    width: 100%;
                    border: 2px solid #5456ce;
                    border-radius: 50px;
                }
            }

        }

        .header-app__webapp {
            display: none;
        }
    }
}

@media (max-width: 768px) {

    .header-app__container {
        .header-app__content {
            .header-app__web {
                display: none;
            }

            .header-app__webapp {
                display: flex;
                justify-content: center;
            }

        }
    }
}